{% extends 'base.html' %}

{% block title%} About {% endblock %}

{% block body %}
<div class=container>
    <h1 class="text-center mt-4">Career Objectives</h1>
    <p>
        Aspiring to be in an organization where I can deliver my skills and talent and build an atmosphere where my
        technical expertise and innovative ideas can blend with the current demand, ensuring organizational growth.
    </p>
    <h1 class="text-center mt-4">Education</h1>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>College/School</th>
                <th>Degree</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GCOEC Chandrapur</td>
                <td>B.E(Electrical)</td>
                <td>Aug (2014-2018)</td>
            </tr>
            <tr>
                <td>P.O. Nahata College</td>
                <td>12th Science</td>
                <td>Aug (2012-2014)</td>
            </tr>
            <tr>
                <td>Biyani School</td>
                <td>10th</td>
                <td>2012</td>
            </tr>
        </tbody>
    </table>
    <h1 class="text-center mt-4">Experience</h1>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Company</th>
                <th>Role</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RPML Technologies</td>
                <td>Associate Software Developer</td>
                <td>Jan 2023 - Present</td>
            </tr>
            <tr>
                <td>Grras Solutions</td>
                <td>Full Stack Intern</td>
                <td>July 2022 - December 2022</td>
            </tr>
            <tr>
                <td>Kwik Team Support Services</td>
                <td>Process Associate</td>
                <td>Aug 2021 - Nov 2022</td>
            </tr>
        </tbody>
    </table>
    <h1 class="text-center mt-4">Technical Projects</h1>
    <ol>
        <li>
            <h4>Website: dobizindia.in (Jan 2023 - Current)</h4>
            <ul>
                <li>Developed a comprehensive website focused on Tax and Compliance Management, providing users with over 90 pages of information from business startup to exit strategies.</li>
                <li>Single-handedly created the website from scratch, including features such as signup, login, logout, OTP verification, cart function, reference models, affiliate functions, blogs, commenting on blogs, and sharing of products and blogs using Django-Social-Share.</li>
                <li>Utilized a wide range of tools and technologies including HTML, CSS, JavaScript, Django, Django Rest-Framework, Python, Git, Version Control, Docker, Visual Studio, SQLite3, and Bootstrap.</li>
                <li>Showcased daily activities by actively maintaining and updating the website.</li>
            </ul>
        </li>
        <li>
            <h4>Website: rpmltech.com (May 2023)</h4>
            <ul>
                <li>Developed a website for RPML Technology, our company, highlighting our services and offerings.</li>
                <li>Implemented a chatbot feature to enhance user interaction and support.</li>
                <li>Created a Contact-Us section with a send mail function, simplifying communication between users and our team.</li>
                <li>Incorporated blog functionality and commenting features to promote engagement and user-generated content.</li>
                <li>Utilized HTML, CSS, JavaScript, Django, Python, Git, Version Control, Docker, Visual Studio, and SQLite3 to ensure seamless functionality and a smooth user experience.</li>
            </ul>
        </li>
    </ol>
    <h1 class="text-center mt-4">Skills</h1>
    <ul class="list-group">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
        <li class="list-group-item">JavaScript</li>
        <li class="list-group-item">SQLite</li>
        <li class="list-group-item">AWS Basic</li>
        <li class="list-group-item">HTML & CSS</li>
        <li class="list-group-item">Tkinter</li>
        <li class="list-group-item">Cpanel</li>
        <li class="list-group-item">Docker</li>
        <li class="list-group-item">Git</li>
        <li class="list-group-item">GitHub</li>
    </ul>
    </div>


{% endblock %}